@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

.About {
    display: flex;
    flex-direction: row;
    height: auto; 
}

.About-left, .About-right {
    padding: 5vmin 0;
}

.About-left {
    display: flex;
    flex-direction: column;
    float: left;

    width: 50%;
    background-color: #D3E4CD;

    justify-content: center;
    align-items: center;
}

.About-left h1 {
    color: #FEF5ED;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 10vmin;
    text-align: center;

    padding: 0 5vw;
    margin: 0 0 2rem;
    

 }

.About-portrait {
    max-width: 40vmin;

    border-radius: 40px;
}

.About-right {
    display: flex;
    flex-direction: column;

    width: 50%;
    background-color: #ADC2A9;

    justify-content: center;
    align-items: center;
}

.About-paragraph {
    font-size: 3vmin;
    font-family: 'Quicksand', sans-serif;
    color: #FEF5ED;
    text-align: center;
    padding: 0 8vw;
}

.About-paragraph a {
    text-decoration: none;
    color:#494949;
}

.About-paragraph a:hover {
    color: #FEF5ED;
}