@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

.Bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #494949;

    padding: 1vmin 0;
}

.Bottom small {
    color: #FEF5ED;
    font-family: 'Space Grotesk', sans-serif;
}