@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

.Home {
    display: flex;
    flex-direction: column;
    background-color: #ECE8D9;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Home-name {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14vmin;
    color: #494949;
    margin: 0;
    padding: 0;
}

.Home-about {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3vmin;
    color: #494949;
}

.Home-buttons {
    display: flex;
    flex-direction: row;
}

.Home-logos {
    color: rgb(255, 255, 255);
    width: 2em;
    height: auto;
    margin-right: 10%;
}
