@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

.Navbar {
    /* TODO: Fix some of these scaling*/
    font-size: 3.5vmin;
    background-color: #C7BEA2;
    width: 100%;
    min-height: 8vh;
    height: auto;
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.Navbar-home {
    width: 50%;
    height: auto;
    float: left;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right:
    
}

.Navbar-main {
    width: 50%;
    height: auto;
    float: right;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.Navbar-line {
    height: 4vh;
    border-right: dotted .5vmin #AAA492;
}
  

.Navbar-home li {
    padding: 0 .5em 0;
}

.Navbar-main li {
    padding-left: 0 .5em 0;
}

.Navbar ul{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    min-height: 8vh;
    height: auto;
    list-style-type: none;
}


.Navbar a {
    padding: .2em .5em .2em;
    text-decoration: none;
    color: #9A9483
}

.Navbar a:hover {
    text-decoration: overline;
}
